<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="BTC_Lab2_com.btc.ac_labs.ui"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/BTC_Lab2_com.btc.ac_labs.ui/css/default.css">
         </property>
         <property
               name="appName"
               value="BTC_Lab2_com.btc.ac_labs.ui">
         </property>
      </product>
   </extension>

</plugin>
